os
pydantic
langchain
langchain
python-dotenv
langchain-google-genai 
google-generativeai
uvicorn
fastapi
langgraph-cli[inmem]
agents
streamlit
dotenv
google-generativeai
google-genai
langfuse
pymongo
openinference-instrumentation-google-genai


