pydantic
langchain
python-dotenv
google-generativeai
uvicorn
fastapi
agents
streamlit
dotenv
google-generativeai
google-genai
langfuse
pymongo
openinference-instrumentation-google-genai
email-validator
pydantic[email]




